.pa
{
	
	
}
.par
{		
		font-size : 30px ;
		line-height : 20px ;
		background-color : blue ; 
		padding : 20px ;
		margin : 100px ;
		border : 50px inset red ;
		width : 600px ;
}	
#p2
{
	
}
.p1
{
	
}	
.p3
{
	
	
}

