body
{
	foot-family : serif ;
	font-size : 14Px ;
	margin : 0px ; 
	padding : 0px ;
}
header
{
	
	font-size : 40px ;
	text-align : center ;
	/* background-color : rgba(200 , 200 , 200 , 0.25) ; */
}	
h1
{
	text-transform : uppercase ;
}		
.body
{
	text-transform : uppercase ;
	text-align : center ;
	background-color : rgb(99 , 230 ,100 ); 
}	
.ecole
{
	background-color : #996688 ;
	
}
.numero
{
	background-color : #906080 ;
}	
.lettre
{
	font-size : 18PX ;
	font-weight : normal ;
	text-transform : capitalize ;
}	
	
nav ul
{
	margin: 0px ; 
	padding : 0px ;
}
nav li 
{
	
	/* height : 90Px  ;  */
	
	list-style-type : none ;
	float : left ;
	padding : 30px ;
	
	
}
nav
{
	background-color : #C5C5C5 ;
	width : 100% ;
	/* margin-left :200px ;	 */
	/* margin-bottom : 10px ; */
}
nav a
{
	display : inline-block ; 
	text-decoration : none ;
	font-size : 18px ;
	color : yellow;
	padding : 10px ;
	
}
footer 
{
	height : 80px ;
	background-color : rgb(100 , 125 , 150) ;
    text-align : center ;
	padding-top : 30Px ;
	margin-top : 30px ;
	font-size : 15px ;
	/* clear : both ; */
}	
.menu
{
	display: table ;
	margin : auto ;
}	
.index:hover
{
	text-align : center ;
	background-color : red;
	
}
.exp:hover
{
	text-align : center ;
	background-color : red;
}.cursus:hover
{
	text-align : center ;
	background-color : red;
}.loisir:hover
{
	text-align : center ;
	background-color : red;
}.cont:hover
{
	text-align : center ;
	background-color : red;
}

		
		
	